body {
  background: url('./img/background.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;  
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#base {
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  position: relative;
  background: #373737;
}

#face {
  width: 30vmin;
  height: 30vmin;
  background: rgb(55, 55, 55);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  background: white;
  border: 2vmin solid rgb(55, 55, 55);
  box-sizing: border-box;
}

.row {
  height: 50%;
  width: 100%;
}

.control {
  width: 50%;
  height: 100%;
  background: black;
  border: 3vmin solid rgb(55, 55, 55);
  box-sizing: border-box;
}

.left {
  float: left;
  border-right-width: 1.5vmin;
}

.right {
  float: right;
  border-left-width: 1.5vmin;
}

.top {
  border-bottom-width: 1.5vmin;
}

.bottom {
  border-top-width: 1.5vmin;
}

.top.left {
  border-top-left-radius: 100%;
  background: rgb(120, 189, 120);
}

.top.left.active {
  background: rgb(0, 255, 0);
}

.top.right {
  border-top-right-radius: 100%;
  background: rgb(177, 74, 74);
}

.top.right.active {
  background: rgb(255, 0, 0);
}

.bottom.left {
  border-bottom-left-radius: 100%;
  background: rgb(199, 199, 83);
}

.bottom.left.active {
  background: rgb(255, 255, 0);
}

.bottom.right {
  border-bottom-right-radius: 100%;
  background: rgb(83, 83, 175);
}

.bottom.right.active {
  background: rgb(0, 0, 255);
}

#face h1 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 6vmin;
  margin-bottom: 0;
  color: rgb(23, 23, 23);
}

.reg {
  font-size: 3vmin;
  top: -3vmin;
  position: relative;
}

.face-controls {
  display: table;
  width: 100%;
  margin: 3vmin;
  position: relative;
}

#display {
  width: 6vmin;
  height: 4vmin;
  background: rgb(24, 10, 10);
  border-radius: 15%;
  border: 0.4vmin solid rgb(55, 55, 55);
  float: left;
  display: table;
}

#display-content {
  font-family: 'VT323', monospace;
  color: rgb(70, 12, 12);
  height: 100%;
  font-size: 3vmin;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#display-content.on {
  color: rgb(255, 0, 0);
}

.btn {
  width: 4vmin;
  height: 4vmin;
  background: rgb(55, 55, 55);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin: -2.2vmin 0 0 -2.5vmin;
  border: 0.6vmin solid rgb(55, 55, 55);
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 4px 1px   rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.6);
  cursor: pointer;
}

.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.start {
  left: 12vmin;
  background: rgb(232, 23, 23);
}

.btn.strict {
  left: 18.5vmin;
  background: rgb(235, 235, 20);
}

#switch-container {
  width: 100%;
  height: 20%;
  text-align: center;
}

#switch-slot {
  height: 3vmin;
  width: 6vmin;
  background: rgb(24, 24, 24);
  display: inline-block;
  border-radius: 10%;
  margin-top: 0.2vmin;
  position: relative;
  box-sizing: border-box;
  border: 0.2vmin solid rgb(55, 55, 55);
  cursor: pointer;
}

#switch {
  width: 2vmin;
  height: 2vmin;
  background: rgb(124, 185, 250);
  box-sizing: border-box;
  position: absolute;
  border-radius: 15%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 0.2vmin;
  margin-right: 0.2vmin;
}

#strict-led {
  width: 1.2vmin;
  height: 1.2vmin;
  background: rgb(21, 8, 8);
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 12.5vmin;
  left: 20.4vmin;
}

#strict-led.on {
  background: rgb(184, 4, 4);
}

.inline-label {
  position: absolute;
  color: black;
  top: 0.6vmin;
  bottom: 0;
  font-size: 1.2vmin;
}

.inline-label.left {
  right: 6.4vmin;
}

.inline-label.right {
  left: 6.4vmin;
}

.label {
  font-size: 1.2vmin;
  color: black;
  position: absolute;
  top: 5.2vmin;
}

.label.left {
  left: 1.2vmin;
}

.label.middle {
  left: 9.7vmin;
}

.label.right {
  left: 16vmin;
}

.input {
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  #base {
    width: 80vmin;
    height: 80vmin;
  }
  
  #face {
    width: 40vmin;
    height: 40vmin;
  }
  
  #face h1 {
    font-size: 8vmin;
  }
  
  .reg {
    font-size: 3vmin;
    top: -3vmin;
  }
  
  .face-controls {
    margin: 3vmin;
  }
  
  #display {
    width: 8vmin;
    height: 6vmin;
  }
  
  #display-content {
    font-size: 4vmin;
  }
  
  .btn {
    width: 5vmin;
    height: 5vmin;
    margin: -2.5vmin 0 0 -2.5vmin;
    border: 0.8vmin solid rgb(55, 55, 55);
  }
  
  .btn.start {
    left: 15vmin;
  }
  
  .btn.strict {
    left: 24vmin;
  }
  
  #switch-slot {
    height: 4vmin;
    width: 8vmin;
    margin-top: 1vmin;
    border: 0.2vmin solid rgb(55, 55, 55);
  }
  
  #switch {
    width: 3vmin;
    height: 3vmin;;
    margin-left: 0.2vmin;
    margin-right: 0.2vmin;
  }
  
  #strict-led {
    width: 1.5vmin;
    height: 1.5vmin;
    border: 1px solid gray;
    top: 16.4vmin;
    left: 26.4vmin;
  }
  
  .inline-label {
    top: 1.4vmin;
    font-size: 1.5vmin;
  }
  
  .inline-label.left {
    right: 9vmin;
  }
  
  .inline-label.right {
    left: 9vmin;
  }
  
  .label {
    font-size: 1.5vmin;
    top: 7.5vmin;
  }
  
  .label.left {
    left: 1.8vmin;
  }
  
  .label.middle {
    left: 13vmin;
  }
  
  .label.right {
    left: 21.5vmin;
  }
}